@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.data-info{
  text-align: left;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  color: black;
  background-color: rgb(243, 241, 241);
  opacity: 0.8;
  
}
.chart-wrapper, canvas {
    margin: auto;
    max-width: 1200px;
  }
  
  .chart-wrapper {
    margin-top: 50px;
  }
  .li{
    display: none;
  }