.headers {
	background-color: transparent;
	display: flex;
	flex-direction: row;
	padding: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	
}

.blah {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: rgba(0, 0, 0, 0.509);
	width: 100%;
	height: 100%;
}

.bleh {
	display: flex;
	justify-content: space-between;
	gap: 50px;
	background-color: transparent;
}

button {
	border: 0;
	transition: transform 0.8s;
	display: flex;
	font-size: 1em;
	padding: 1em 2em;
	margin-top: 30px;
	margin-bottom: 30px;
	-webkit-appearance: none;
	appearance: none;
	background-color:transparent;
	border-radius: 40%;
	border: none;
	cursor: pointer;
	position: center;
	transition: transform ease-in 0.1s, box-shadow ease-in 0.1s;
	box-shadow: 0 2px 20px rgba(230, 232, 223, 0.5);
}

button:hover {
	transform: scale(2);
}

.contact {
	color: #869226;
	background-color: transparent;
	
}

.data {
	background-color: transparent;
}

.abouts{
	color: #b46e35;
	background-color: transparent;
}

.infos {
	color: #b46e35;
	background-color: transparent;
}

.homes {
	color: #b46e35;
	padding-left: 10px;
	background-color: transparent;
	border-radius: 50%;
	
}

.button:focus { outline: 0; }
@media all and (min-width: 600px) {
    .headers, .homes, .abouts, .contact, .button, .blah, .bleh{
        -webkit-flex-direction: row;
        flex-direction: row;
    }
}

@media all and (min-width: 1030px) {
    .headers, .homes, .abouts, .contact, .button, .blah, .bleh {
    -webkit-flex: none;
    flex: none;
    }
}


